<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talks</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
    <h1>
      <a href="/">Tech Talks</a>
    </h1>

<nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable pt-1">dashboard</a>
            <a href="/dashboard" class="navbar-item is-hoverable pt-1">new post</a>
            <button id="logout" class="button is-danger">logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
            <a href="/login" class="button is-primary">login</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</body>

</html>